.header {
    height: 500px; 
    width: 100%; }
  .background-gradient {
    background: #4261cf;
    background: -moz-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3023ae), color-stop(100%, #53a0fd));
    background: -webkit-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -o-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: -ms-linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    background: linear-gradient(45deg, #3023ae 0%, #53a0fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-start', endColorstr='$gradient-end',GradientType=1 );
    color: white; }
  
  .background-pattern {
    background: url(http://i1091.photobucket.com/albums/i392/matid1994/pattern.jpg) repeat;
    opacity: .5;
    height: 500px; 
    width: 100%;
  }
  
  h1 {
   color: white;
   text-align: center;
   padding-top: 100px;
  }